%alert-base {
  width: 100%;
  background-color: $grey;
  border: 1px solid darken($grey, 10%);
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 0.35rem;
  color: $text;
  font-family: $font-family;
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;

  & + & {
    margin-top: 15px;
  }

  p {
    line-height: 1.25rem;
  }

  &.dark {
    color: #fff;
    background-color: $dark;
    border-color: darken($dark, 7%);
  }
}

// mixins
@mixin alertColor($color) {
  color: $color;
  background-color: rgba($color, 0.1);
  border-color: rgba(red($color), green($color), blue($color), 0.15);

  a {
    color: $color !important;
  }

  &:hover {
    background-color: rgba($color, 0.15);
  }

  &.dark {
    color: #fff;
    background-color: $color;
    border-color: darken($color, 7%);
  }
}

// buttons
.alert {
  @extend %alert-base;

  &.primary {
    @include alertColor($main-color);
  }

  &.success {
    @include alertColor($success);
  }

  &.danger {
    @include alertColor($danger);
  }

  &.warning {
    @include alertColor($warning);
  }

  &.info {
    @include alertColor($info);
  }
}
