%input-base {
  width: 100%;
  border: 1px solid $grey;
  transition: 0.35s all ease;
  font-family: $font-family;
  box-sizing: border-box;
  font-size: 0.85rem;
  border-radius: 0.35rem;
  background-color: #fff;

  &::placeholder {
    color: rgba($text-light, 0.6);
    font-size: 0.75rem;
  }

  &:focus {
    border-color: rgba($main-color, 0.4);
    box-shadow: 0 0 0 4px rgba($main-color, 0.2);
  }

  &:read-only {
    background-color: $grey-light;
  }
}

.input {
  @extend %input-base;

  &[type='text'],
  &[type='email'],
  &[type='password'],
  &[type='file'],
  &[type='date'] {
    height: 40px;
    padding: 0 15px;

    &.search-input {
      padding-left: 45px;
    }
  }

  &[type='file'] {
    background-color: #fff !important;
    padding: 8px 15px;

    &:disabled {
      background-color: $grey-light !important;
    }
  }
}

.textarea {
  textarea {
    @extend %input-base;
    min-height: 100px;
    padding: 15px;
    resize: none;
  }
}

.select {
  position: relative;

  &.open {
    & > .input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: transparent;
    }
    .options {
      display: block;
    }
  }

  .input-container {
    position: relative;

    .error-icon {
      right: 30px;
    }

    .arrow-icon {
      position: absolute;
      right: 10px;
      top: 13px;
      z-index: 2;
    }

    .input {
      input {
        padding-right: 30px;
        cursor: pointer;
      }

      &[readonly] {
        color: $text-dark;
        background-color: #fff;

        &:hover {
          box-shadow: 0 0 0 4px rgba($main-color, 0.2);
        }
      }
    }
  }

  .options {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 3px 3px 10px rgba($grey, 0.5);
    border: 1px solid $grey;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;

    .option {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      box-sizing: border-box;
      font-size: 0.85rem;

      &.search {
        height: 50px;

        .input {
          height: 30px;
          font-size: 0.75rem;
        }
      }

      &:hover {
        background-color: rgba($grey, 0.25);
        cursor: pointer;
      }

      &.selected {
        color: $main-color;
        background-color: rgba($main-color, 0.1);
      }

      span.label {
        margin: 0 0 0 0.5rem;
        font-size: 0.7rem;
      }
    }
  }
}

.switch-container {
  display: flex;
  flex-direction: column;
  max-width: 52px;
  align-items: center;

  .switch {
    width: 52px;
    height: 32px;
    border-radius: 26px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: 0.3s all ease;

    &:before {
      content: '';
      width: 26px;
      height: 26px;
      background-color: #fff;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      transition: 0.3s all ease;
    }

    &.selected {
      background: $main-color;

      &:before {
        left: 23px;
      }
    }
  }

  p {
    width: 100%;
    font-size: 0.5rem;
    margin: 5px 0 0;
    line-height: 1;
    text-align: center;
  }
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  &.checked {
    .box {
      border-color: $main-color;
      background-color: $main-color;
      color: #fff;

      i {
        opacity: 1;
      }
    }
  }

  span {
    font-size: 0.85rem !important;
    margin: 0 0 0 0.5rem !important;
    font-weight: normal !important;
  }

  .box {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid $grey;
    border-radius: 0.35rem;
    box-sizing: border-box;
    position: relative;
    transition: 0.35s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;

    i {
      margin-left: 1px;
      opacity: 0;
    }
  }
}

@mixin girdMixin($class) {
  $grid-size: 12;

  @for $i from 1 through $grid-size {
    &.#{$class}-#{$i} {
      flex-basis: calc((100% * #{$i}) / $grid-size);
      width: calc((100% * #{$i}) / $grid-size);
    }
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;

  .group {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    @include girdMixin('group');

    @media #{$xs} {
      flex-basis: 100% !important;
      padding: 0;
    }

    &.group-submit {
      flex-basis: 100%;
      padding-top: 20px;
      border-top: 1px solid $grey-light;
      flex-direction: row;
      align-items: center;
      column-gap: 1rem;
    }

    span {
      font-size: 0.85rem;
      color: $text-light;
      font-weight: 500;
      margin-bottom: 0.4rem;

      &.required {
        &:after {
          content: '*';
          margin-left: 3px;
          font-size: 0.85rem;
          color: $main-color;
        }
      }
    }
  }
}
