#modal {
  position: fixed;
  max-height: 90vh;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid $grey;
  z-index: 999;

  @media #{$xs} {
    width: calc(100vw - 30px) !important;
  }

  &.xsmall {
    width: 30vw;
  }

  &.small {
    width: 45vw;
  }

  &.medium {
    width: 60vw;
  }

  &.large {
    width: 75vw;
  }

  &.xlarge {
    width: 90vw;
  }

  #modal-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $grey;
    padding: 0 25px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    font-size: 0.85rem;

    #modal-actions {
      margin-left: auto;

      #close-modal {
        cursor: pointer;
      }
    }
  }

  #modal-content {
    padding: 25px;
    box-sizing: border-box;
  }
}
